<?xml version="1.0" encoding="utf-8"?>
<!-- Licencia GPL v3 "Gobierno Móvil" es un producto de "Gobierno en Línea". 
	This program is free software: you can redistribute it and/or modify it under 
	the terms of the GNU General Public License as published by the Free Software 
	Foundation, either version 3 of the License, or any later version. This program 
	is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
	without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR 
	PURPOSE. See the GNU General Public License for more details. You should 
	have received a copy of the GNU General Public License along with this program. 
	If not, see http://www.gnu.org/licenses\n\n -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="gob.movil" android:versionName="0.7.4" android:versionCode="104">
	<uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<provider android:name=".info.SuggestionProvider"
			android:authorities="gob.movil.info.SuggestionProvider" />
		<activity android:name=".app.Main" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data android:name="android.app.default_searchable"
				android:value=".info.Search" />
		</activity>
		<activity android:name=".info.Search" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>
		<activity android:name=".app.Directory" android:label="@string/directory_title">
			<meta-data android:name="android.app.default_searchable"
				android:value=".info.Search" />
		</activity>
		<activity android:name=".app.Mayoralties" android:label="@string/mayoralties_title">
			<meta-data android:name="android.app.default_searchable"
				android:value=".info.Search" />
		</activity>
		<activity android:name=".app.Procedures" android:label="@string/procedures_title">
			<meta-data android:name="android.app.default_searchable"
				android:value=".info.Search" />
		</activity>
		<activity android:name=".app.Government" android:label="@string/government_title">
			<meta-data android:name="android.app.default_searchable"
				android:value=".info.Search" />
		</activity>
		<activity android:name=".info.About" android:label="@string/about"
			android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".info.Help" android:label="@string/help" />
		<activity android:name=".info.Show" />
		<activity android:name=".info.Preferences" android:label="@string/preferences" />
		<activity android:name=".twitter.TwitterActivity"
			android:label="@string/twitter" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".twitter.Timeline" />
		<activity android:name=".twitter.Mentions" />
		<activity android:name=".twitter.Retweets" />

		<activity android:name=".twitter.OAuthTwitter">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="callback" android:host="gm" />
			</intent-filter>
		</activity>
	</application>
</manifest>